{% extends "base.html" %}

{% block title %}
Your Account
{% endblock %}

{% block content %}
<h3>Create Account</h3>
<form action="/create_account", method = "POST">
  <p>Enter new account info</p>
    <strong>Username: </strong>
      <input type="text" name="NUser"><br>
    <strong>Password: </strong>
      <input type="password" name="NPass"><br>
  <input type="submit" value="Create">
</form><br><br>

{# Displays the error messages that was flashed (if any)  #}
{% set messages = get_flashed_messages() %}
{% for message in messages %}
  <h2>{{message}}</h2>
{% endfor %}<!-- where eventual messages are printed -->
{% endblock %}
