{% extends "base.html" %}

{% block title %}
  Your Account
{% endblock %}

{% block content %}
  <center>
    <h3>Create Account</h3>
    <form action="/create_account", method = "POST">
      <p>Enter login info</p>
      <strong>Username:</strong>
      <input type="text" name="NUser"><br>
      <strong>Password</strong>
      <input type="password" name="NPass"><br>
      <input type="submit" value="Create">
    </form>
    <br>
    <br>

    <!-- where eventual messages are printed -->
    {# Displays the error messages that was flashed (if any)  #}
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
      <h2>{{message}}</h2>
    {% endfor %}
  </center>
{% endblock %}
