<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>
      {% block title %} {% endblock %}
      Webpage
    </title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    No hablo queso
    {% endblock %}

    {% block footer %}
    <form action="/logout" method = "GET">
      <input type="submit" value="Log Out">
    </form>
    <p><a href="/home">Home</a> <a href="/create_story">Create Story</a>
    <br><br><small>Copyright J.A.S.P.R. 2017</small>
    {% endblock %}
  </body>
</html>
