{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h1>Login</h1>
<form action="/auth", method = "POST">
  <p>Enter login info</p>
  <p><strong>Username:</strong></p>
  <input type="text" name="User"><br>
  <p><strong>Password</strong></p>
  <input type="password" name="Pass"><br>
  <input type="submit" value="Login">
</form><br><br>
{# Displays the error messages that was flashed (if any)  #}
{% set messages = get_flashed_messages() %}
{% for message in messages %}
  <h2>{{message}}</h2>
{% endfor %}<!-- where eventual messages are printed -->
<form action="/auth" method = "GET">
  <input type="submit" value="Create Account">
</form>
<br>
{% endblock %}
